.navbar{
    border-bottom:#edeff0 3px solid;
    opacity: 0.8;
    color: black;
    }

    body{
        background: #333;
        color: #fff;
    
    }
    #block{
        height: 650px;
        width: 80%;
    }
   
    #batchmodal{
        float: right;
    }

